:root {
	--background-color: black;
	color: white;
}

body {
	background-color: var(--background-color);
}
.map-container {
	top: 0;
	flex: 1;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	height: 800px; /* Adjust the height as needed */
}

.values-container {
	font-size: 150%;
	position: fixed;
	bottom: 0;
	left: 0; /* Adjust left or right positioning as needed */
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	flex-direction: row; /* Change to "row" to stack from left to right */
	color: white;
}

.infobox {
	background-color: rgb(101, 230, 123);
	width: 100%; /* Adjust width as needed */
	height: 50%; /* 50% of the viewport height */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	margin: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.infobox-container {
	position: fixed;
	top: 60px; /* Add a top margin to create space */
	right: 0;
	width: 10%; /* 10% of the viewport width */
	height: 100%; /* 100% of the viewport height */
	display: flex;
	justify-content: flex-end; /* Align the infobox to the right */
}

/* Style for variable values */
.infobox p {
	margin: 0; /* Remove default paragraph margin */
}

.infobox p span {
	font-weight: bold;
}

.navbar {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
}

.navbar-nav {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
}

.nav-item {
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.carousel-navigation {
	display: flex;
	flex-direction: row;
	align-items: center; /* Center the buttons vertically */
	justify-content: center; /* Center the buttons horizontally */
}

.carousel-navigation button {
	width: 80px;
	height: 40px;
	margin: 0px; /* Add some margin for spacing */
}

.sectors-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.logo-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.sector-button {
	background: none;
	border: none;
	cursor: pointer;
	text-align: center;
	color: white;
	padding: 0;
}

.sector-button img {
	width: 30%;
	height: auto;
}

.sector-button p {
	font-size: 150%;
	text-align: center;
}

.sector-button.active {
	background-color: rgba(101, 230, 123, 0.7);
}

.slider {
	margin: 10px 0;
	padding-left: 80px;
	padding-right: 80px;
}

input[type='range'] {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	height: 5px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh; /* Use min-height to accommodate the image */
}

.centered-text {
	padding: 10px;
	border-radius: 5px;
	color: rgb(187, 170, 170);
	font-family: 'roboto', serif;
	font-size: 3rem;
	line-height: 1.267;
	padding: 0 12%;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

/* Add this CSS to your stylesheet (e.g., App.css) */

.flag-image {
	width: 20px; /* default size */
	height: 20px;
}

/* For smaller viewports */
@media (max-width: 768px) {
	.flag-image {
		width: 15px;
		height: 15px;
	}
}

/* For even smaller viewports */
@media (max-width: 480px) {
	.flag-image {
		width: 10px;
		height: 10px;
	}
}

.logo {
	width: 60px;
	height: 60px;
	padding: 15%;
}

@media (max-width: 768px) {
	.logo {
		width: 60px;
		height: 60px;
		padding: 15%;
	}
}

.buttonWithSideBorders {
	position: relative;
	border: none;
}

.buttonWithSideBorders:before,
.buttonWithSideBorders:after {
	content: '';
	position: absolute;
	top: 25%; /* Adjust the value to control the vertical start position */
	bottom: 25%; /* Adjust the value to control the vertical end position */
	width: 1px;
	background-color: var(--mantine-color-blue-light-color);
}

.buttonWithSideBorders:before {
	left: 0;
}

.buttonWithSideBorders:after {
	right: 0;
}

/* In your CSS file */
.glowing-button {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.6), 0 0 20px rgba(255, 255, 0, 0.6); /* Adjust colors and intensity */
}

.glowing-button::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6));
  border-radius: inherit;
  filter: blur(10px);
}
